//colors
 
$primary--color:#272727;
$secondary--color:#ff652f;
$text--color:#eee;

//font
$family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//img pathini biz değişken olarak tanımlayabiliriz...

$main-bgimage:'../../img/vienna-city-center-GettyImages-178702648.webp'